blockquote, .challenge {
  padding: 1rem 2rem;
  background-color: #e7ecf3;
  border-left-width: 0.8rem;
  border-left-style: solid;
  border-color: #486491;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 1.5rem 0;
}

blockquote h4, .challenge h4 {
  color: #486491;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.7;
  margin: 1rem 0;
  padding-top: 0;
}

blockquote p {
  margin-top: 0;
}

blockquote a, blockquote a:link, blockquote a:visited, blockquote a:hover {
  color: #486491;
  border-bottom: 1px dashed#486491;
  padding-bottom: 0.15rem;
}

.challenge h4 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem;
  margin: 0;
  color: rgb(25, 135, 84);
}

a.challenge, a:hover.challenge, a:link.challenge, a:visited.challenge {
  display: block;
  background-color: rgba(25, 135, 84, 0.1);
  color: rgb(25, 135, 84);
  border-color: rgb(25, 135, 84);
  box-shadow: none;
}