pre, .container pre[class*="language-"].d2l-code, .container pre[class*="language-"].d2l-code.line-numbers {
  // box-shadow: var(--me-box-shadow);
  border: 1px solid var(--me-border-color);
  border-radius: 6px;
}

.container pre[class*="language-"].d2l-code, .container pre[class*="language-"].d2l-code.line-numbers, .container .d2l-code.line-numbers > code > .line-numbers-rows {
  background-color: #fafafa;
  line-height: 1.7;
}

.container pre[class*="language-"].d2l-code, .container pre[class*="language-"].d2l-code.line-numbers {
  font-size: 1.1rem;
  padding: 2.4rem 3.8rem;
  border-radius: 6px;
}

.container pre[class*="language-"].d2l-code::before {
  top: 5px;
  right: 5px;
}

pre code.hljs {
  font-size: 1.1rem;
  line-height: 1.7;
  padding: 2.4rem;
  border-radius: 6px;
  overflow: auto;
}

code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: #4e6e8e;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: .85em;
  background-color: #fafafa;
  border-radius: 3px;
  overflow-wrap: break-word;
  transition: background-color .3s ease;
}

iframe[src*="codepen.io"] {
  margin: 1rem 0;
  border-radius: 6px;
  box-shadow: var(--me-box-shadow);
}